/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}




  .A4 {
      background: white;
      display: block;
      margin: 1cm auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
      width: 21cm;
      height: 29.7cm;
  }

  #left {
      background: #81aefe;
      width: 3.2in;
      height: 100%;
  }

  #my-img {
      border-radius: 100%;
      width: 200px;
      height: 240px;
      margin: 0.4in 0.6in 0.16in 0.6in;

  }

  #name {
      font-family: "calibri";
      font-size: 27px;
      color: white;
      text-align: center;
      font-weight: 800;
      margin-bottom: 0.2in;
  }

  .shape {
      width: 2.65in;
      height: 0.3in;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
      font-family: "times new roman";
      color: black;
      font-weight: 600;
      background: white;
      padding-top: 0.04in;
      padding-left: 0.4in;
  }

  .info {
      height: 1.889in;
  }

  .tech {
      height: 2.3in;
  }

  #left2 {
      width: 1.6in;
      height: 100%;
  }

  #right2 {
      width: 1.5in;
      height: 100%;
  }

  .lang {
      height: 1.028in;
  }

  #int {
      height: 1.76in;
  }

  ul {
      font-family: "ebrima";
      font-size: 16px;
      color: white;
      margin-left: 0in;
      margin-bottom: 0;
      font-weight: 600;
      padding: 0.3in 0 0 0.2in;
      list-style-type: none;
  }

  li {
      padding-bottom: 15px;
  }

  p {
      font-family: "ebrima";
      font-size: 16px;
      color: white;
      margin-left: 0.5in;
      font-weight: 600;
      padding: 0.14in;
  }

  #right {
      background: white;
      width: 5.06in;
      height: 28cm;
      margin-top: 0px;
      position: absolute;
      top: 160px;
  }


  .obj {
      height: 1in;
  }

  .ed {
      height: 3.6in;
      margin-bottom: 10px;
  }

  .exp {
      height: 1.1in;
      margin-bottom: 10px;
  }

  .cert {
      height: 2.0in;
      margin-bottom: 10px;
  }

  .skills {
      height: 1.56in;
      margin-top: 10px;
  }

  #p1 {
      font-family: "calibri";
      font-size: 18px;
      color: black;
      margin-left: 0.5in;
      padding: 0.14in 0.2in 10px 0.14in;
      margin-bottom: 0;
      font-weight: 500;
      border-bottom: 10px;
  }

  strong {
      font-weight: 800;
  }

  #vl {
      border-left: .5px solid white;
      height: 1.7in;

  }

  .info-left1 {
      width: 250px;
      font-family: "ebrima";
      font-size: 16px;
      color: white;
      margin-left: 0.25in;
      font-weight: 600;
      padding: 14px;
  }

  i {
      color: white;
      font-size: 48px;
  }


 .button {
    background: linear-gradient(to left,  lightblue, #fff);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.button:hover {
    background: linear-gradient(to right, lightblue, #fff);
}
